@import "bourbon/bourbon";

/* Colors */
$white: #fff;
$ll-gray: #f0f0f0;
$l-gray: #d1d1d1;
$gray: #949494;
$d-gray: #737373;
$dd-gray: #333;
$black: #000;

$light: #669acf;
$dark: #001b36;
$accent: #005ab6;
$faded-dark: #102336;
$dark-accent: #004183;

// Terms need to be color-coded by category
// Current pallette from http://www.colourlovers.com/palette/1580423/Flames_at_sea
$color-outcome: #43777a;
$color-exposure: #d95b45;
$color-covariate: #442432;
$color-population: #c02948;
$color-studydesign: darken(#ecd079, 30%);
$color-effectsize: #807f87;
$color-keyword: $gray;


@mixin transition($type, $dur) {
	transition: $type #{$dur}s;
	-webkit-transition: $type #{$dur}s;
	-moz-transition: $type #{$dur}s;
	-o-transition: $type #{$dur}s;
	}
	
@mixin hovering-box {
	background-color: $white;
	border: 1px solid $l-gray;
	border-radius: 3px;
	@include box-shadow(0px 2px 4px 0px $gray);
	z-index: 4;
	
	li {
		overflow: hidden;
		border-bottom: 1px solid $l-gray;
		cursor: pointer;
		
		&:nth-last-child(1) {
			border: 0;
			}
		}
	}
	
@mixin umls-pill {
	margin-left: 5px;
	padding: 4px;
	background-color: $d-gray;
	font-weight: bold;
	color: $white;
	border-radius: 2px;
	}
	
@mixin plain-button {
	padding: 5px 10px;
	border-radius: 3px;
	border: 1px solid $l-gray;
	color: $dd-gray;
	@include transition(background-color, 0.1);
	cursor: pointer;
	
	i {
		margin-left: 4px;
		}
	
	&:hover {
		@include plain-button-hover;
		}
	}

@mixin plain-button-hover {
	padding: 6px 11px; // Since I am using border-box for box-sizing, need to maintain consistend dimensions
	background-color: $accent;
	color: $white;
	border: none;
	text-decoration: none;
	}
	
@mixin filter-background {
	@include transition(background-color, 0.3);
	border-right: 1px solid $white;
	background-color: $dark-accent;
	
	&:hover {
		background-color: $accent;
		}
	}
	
@mixin loaded-info-style {
	font-weight: normal;
	color: $gray;
	
	.loaded,
	.total {
		font-weight: 700;
		color: $dd-gray;
		}
		
	.loaded {
		font-size: 0.9em;
		}
	}
	
@mixin dropdown-cats {
	display: none;
	position: absolute;
	z-index: 5;
	
	& > div {
		box-sizing: content-box;
		width: 100%;
		color: $dd-gray;
		background-color: $white;
		@include dropdown-font;
		border: 1px solid $l-gray;
		border-radius: 2px;
		white-space: normal; /* Override filters container nowrap */
		@include box-shadow(1px 1px 6px -2px $gray);
		z-index: 3;
		
		.search-domain {
			display: block;
			padding: 5px $cat-horizontal-padding;
			border-bottom: 1px solid $l-gray;
			
			&:nth-last-child(1) {
				border: 0;
				}
			
			&:hover {
				background-color: $accent;
				color: $white;
				}
			} /* .search-domain */
		} /* div */
	}
