/*

  Suggested ordering of properties
 
		Display & Flow
							display, visibility, float, clear
							
		Positioning
						position, top, right, bottom, left, z-index
						
		Dimensions
						width (min, max), height (min, max), overflow
						
		Margins, Padding, Borders, Outline
						margin (top, right, bottom, left), padding (top, right, bottom, left), 
						border (top, right, bottom, left), border-width, border-style, 
						border-color, outline, list-style
						
		Typographic Styles
						font, font-family, font-size, line-height, font-weight, text-align, 
						text-indent, text-transform, text-decoration, letter-spacing, word-spacing, 
						white-space, vertical-align, color
						
		Backgrounds
						background, background-color, background-image, background-repeat, 
						background-position
						
		Opacity, Cursors, Generated Content
						opacity, cursor, content, quotes

		
		Font weights:
			100: Ultra Light
			200: Thin
			300: Light
			400: Regular
			500: Semi Bold
			600: Bold
			700: Extra Bold
			800: Heavy
			900: Ultr</span>a Heavy
		
		
		Use hyphenation for selectors; use underscores for variables.	
                
*/

@import "bourbon/bourbon";
@import "reusables";

/* Path to img directory; this is relative to the css file generated */
$img_path: "../img";

/* Typography */
$body_font: 300 12px/1.6 'Open Sans', Verdana, Helvetica, sans-serif;
$heading_font: 600 70px/1.2 'Open Sans', Verdana, Helvetica, sans-serif;

/* Specific font cases */
@mixin label-font {
	font: 700 11px/1.0 'Open Sans', Verdana, Helvetica, sans-serif;
	text-transform: uppercase;
	}
@mixin scientific-font {
	font: 300 18px/1.0 'Gentium Book Basic';	
	}
@mixin dropdown-font {
	font: 300 11px/1.5 'Open Sans';	
	text-transform: capitalize;
	}
@mixin note-font {
	font: 300 11px/1.2 'Open Sans';	
	}
@mixin readable-font {
	font: 300 1.4em/1.6 'Open Sans';	
	color: $dd-gray;
	text-align: justify;
	}


/* =BASE 
 * ***********************************/

* {
	@include box-sizing(border-box);
	}
	
.clear {
	@include clearfix;
	}

/* Layout */
	
$page-width: 95%;
$content-height: 1300px;
$results-section-title-height: 65px;
$results-section-title-padding: 2em;
	

body {
	max-width: 100%;
	font: $body_font;
	color: #3e4956;
	background-color: $ll-gray;
	}
	
.content {
	width: $page-width;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 100px;
	background-color: $white;
	border: 1px solid $l-gray;
	border-radius: 4px;
	@include box-shadow(0 0 10px 0px $l-gray);
	
	& > .row {
		margin-bottom: 0;
		}
	
	// Override kube column sizes because this one needs to gain width from margin
	.row > .threequarter {
		position: relative;
		height: $content-height;
		margin-left: 0;
		width: 77.39%;
		}
		
	.section-title {
		height: $results-section-title-height;
		margin: 0;
		padding: $results-section-title-padding;
		border-bottom: 1px solid $l-gray;
		}
	}
		
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 2em;
	border-top: 1px solid $l-gray;
	background-color: $white;
	text-align: center;
	font-size: 0.9em;
	color: $gray;
	
	span {
		float: left;
		}
		
	a {
		float: right;
		color: $light;
		margin-left: 20px;
		
		&:nth-last-child(1) {
			margin: 0;
			}
		}
	}
		
	
/* =RECURRING ELEMENTS
 * ***********************************/

a {
	text-decoration: none;
	color: $gray;
	@include transition(color, 0.3);
	
	&:hover {
		color: $accent;
		text-decoration: none;
		}
	}
	
h1, h2, h3 {
	font-weight: 300;
	}
	
.highlight {
	padding: 2px 5px;
	color: $white;
	border-radius: 3px;
	cursor: default;
	
	&.exposure { background-color: $color-exposure; }
	&.outcome { background-color: $color-outcome; }
	&.covariate { background-color: $color-covariate; }
	&.population { background-color: $color-population; }
	&.studydesign { background-color: $color-studydesign; }
	&.effectsize { background-color: $color-effectsize; }
	}
	
.loaded-info {
	@include loaded-info-style;
	} /* .loaded-info */
	
ul.no-bullets {
	list-style-type: none;
	
	li {
		position: relative;
		margin-bottom: 1em;
		}
		
	i {
		position: absolute;
		left: -1.55em;
		top: 0.25em;
		}
		
	.li-title {
		display: block;
		color: $accent;
		}
	}
	
	
/* =FILTERING
 * ***********************************/
$cat-horizontal-padding: 12px;
$cat-vertical-padding: 18px;
$val-horizontal-padding: 15px;
$val-vertical-padding: 8px;
$filter-spacing: 0px;
$filter-height: 45;
	

#filters-view {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: $dark-accent;
	color: $white;
	z-index: 10; // Should appear on top of EVERYTHING else
	
	max-width: 100%;
	height: #{$filter-height}px;
	white-space: nowrap;
	
	.input-container {
		display: inline-block; /* prevent collapsing */
		height: #{$filter-height}px;
		@include filter-background;
		background-color: $accent;
		
		&:hover {
			background-color: $dark-accent;
			}
		
		.epidem-categories {
			position: relative;
			float: left;
			min-width: 100px;
			height: #{$filter-height - 2}px; /* Adjust for borders */
			padding: $cat-vertical-padding $cat-horizontal-padding/2 $cat-vertical-padding $cat-horizontal-padding;
			@include label-font;
			cursor: pointer;
			
			.dropdown-cats {
				@include dropdown-cats;
				bottom: #{$filter-height - 2}px; 
				left: 0;
				
					& > div {
						margin-bottom: 4px;
						}
				} /* .dropdown-cats */
				
				.visible-cat {
					display: block;
					text-align: center;
					
					}
			
			} /* .epidem-categories */
		
		input {
			float: left;
			height: #{$filter-height}px; /* Adjust for borders */
			width: 250px;
			padding: 0 $val-horizontal-padding 0 $val-horizontal-padding/2;
			border: none;
			outline: none;
			@include scientific-font;
			color: $white;
			background: transparent;
			cursor: pointer;
			
			&::-webkit-input-placeholder { 
				color: $white;
				padding-top: 3px; /* Adjust to match actual input */
				}
			&:-moz-placeholder { color: $white; }
			&:-ms-input-placeholder { color: $white; }
			&:focus::-webkit-input-placeholder { color: transparent; }
			&:focus:-moz-placeholder { color: transparent; }
			&:focus:-ms-input-placeholder { color: transparent; }
			} /* input */
			
		} /* .input-container */
		
	.options {
		display: inline-block;
		position: relative;
		top: -9px; /* I don't know why this is right. Will probs break if changes needed */
		margin: 0 25px;
		font-size: 11px;
		
		.option {
			display: block;
			position: relative;
			cursor: pointer;
			
			&.chosen {
				font-weight: bold;
				}
			
			i {
				position: absolute;
				top: 0.25em;
				left: -1.3em;
				}
			}
		}
	
	/* The list of existing filters */
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			display: block;
			position: relative;
			float: left;
			height: #{$filter-height}px;
			@include filter-background;
			cursor: default;
			
			.cat {
				@include inline-block;
				padding: $cat-vertical-padding $cat-horizontal-padding/2 $cat-vertical-padding $cat-horizontal-padding;
				text-transform: capitalize;
				@include label-font;
				} /* .cat */
			
			.val {
				@include inline-block;
				padding: 0 $val-horizontal-padding 0 $val-horizontal-padding/2;
				@include scientific-font;
				
				.remove-filter {
					position: relative;
					bottom: 0.1em; /* Adjust for font size change */
					font-size: 0.7em;
					opacity: 0.3;
					cursor: pointer;
					
					&:hover {
						@include transition(opacity, 0.3);
						opacity: 1;
						}
					} /* .remove-filter */
				} /* .val */
				
			&.inactive {
				background-color: $dark;
				color: darken($dark, 5%);
				border-color: darken($dark, 5%);
				
				&:nth-last-child(1) {
					border-color: $white;
					}
				} /* .inactive */
			} /* li */
		} /* ul */
	} /* #filters-view */
	
	.top-bar {
		padding: 15px 20px;
		font-size: 1.5em;
		border-bottom: 1px solid $l-gray;
		}
	
.ui-autocomplete {
	position: fixed;
	background-color: $white;
	max-height: 250px;
	overflow-y: auto;
	width: 256px;
	border: 1px solid $l-gray;
	border-radius: 2px;
	@include box-shadow(1px 1px 6px -2px $gray);
	}

.ui-menu-item {
	padding: 5px;
	border-bottom: 1px solid $ll-gray;
	a {
		color: $dd-gray;
		@include transition(none, 0);
		
		&.ui-state-focus,
		&.ui-state-active {
			background-color: $accent;
			color: $white;
			}
		}
	
		
	&:nth-last-child(1) {
		border: none;
		}
	}
	
		
/* =ARTICLES LIST
 * **********************************/

.articles-view {
	height: $content-height;
	border-right: 1px solid $l-gray;
	@include box-shadow(0px 0px 8px -3px $gray);
	
	.section-title {
		position: relative;
		@include box-shadow(0px 1px 7px -2px $gray);
		z-index: 2;
		
		.loaded-info {
			float: right;
			@include loaded-info-style;	
			} /* .loaded-info */
		} /* .section-title */
		
	.load-more {
		margin: 0;
		padding: 7px;
		background-color: $accent;

		@include note-font;
		font-weight: bold;
		color: $white;
		}
	
	#articles-list {
		list-style-type: none;
		height: $content-height - $results-section-title-height;
		margin: 0;
		overflow-y: hidden;
		padding-bottom: 100px;
		background-image: url('#{$img_path}/white_texture.png');
		
		&:hover {
			overflow-y: scroll;
			} /* :hover */
			
		li {
			position: relative;
			padding: 7px;
			border-bottom: 1px solid $l-gray;
			background-color: $white;
			cursor: pointer;
			
			&:nth-child(even) {
				background-color: #f7f7f7;
				}
			
			&:hover {
				color: $accent;
				
				.date {
					color: $gray;
					}
				}
			
			.date {
				display: block;
				font-size: 0.8em;
				text-align: right;
				color: $gray;
				
				i {
					position: static;
					margin-right: 4px;
					}
				}
			
			i {
				position: absolute;
				top: 10px;
				}
				
			.title {
				margin-left: 17px
				}
				
			&.article-listing-error {
				
				.error-msg {
					display: block;
					margin-left: 17px;
					font-style: italic;
					color: $dd-gray;
					cursor: default;
					}
				.try-again {
					display: block;
					color: $accent;
					cursor: pointer;
					}
				}
			} /* li */
		} /* #articles-list */
	} /* .articles-view */
	
/* =ARTICLES MODAL
 * **********************************/
.reveal-modal {
	overflow: hidden;
	padding: 30px;
		
	.abstr {
		margin: 15px 0;
		text-align: justify;
		}
	
	.section-heading {
		cursor: pointer;
	  &.open {
			cursor: default;
			}
		
		margin-bottom: 10px;
		padding-bottom: 5px;
		color: $gray;
		border-bottom: 1px solid $l-gray;
		
		&:hover {
			color: $accent;
			}
		}
		
	.section-content {
		padding: 5px 0 10px 0;
		}
		
	.author,
	.date {
		color: $gray;
		
		i {
			margin-right: 5px;
			}
		}
	
	.journal,
	.issue,
	.pmid {
		
		span:first-child {
			display: inline-block;
			padding: 2px 0px;
			width: 65px;
			font-weight: bold;
			}
		span:nth-child(2) {
			margin-left: 10px;
			}
		}
		
	.facts {
		border: 1px solid $gray;
		border-radius: 2px;
		
		.epidem-table-row {
			overflow: hidden;
			border-bottom: 1px solid $gray;
			
			&:nth-last-child(1) {
				border: none;
				}
			}
		
		.label {
			display: block;
			float: left;
			width: 25%;
			padding: 10px;
			@include label-font;
			}
			
		.entities {
			display: block;
			float: right;
			width: 75%;
			border-left: 1px solid $gray;
			
			.entity {
				padding: 10px;
				border-bottom: 1px solid $gray;
				
				&:nth-last-child(1) {
					border: none;
					}
				
				.other {
					display: block;
					color: $gray;
					}
					
				.umls-group {
					@include umls-pill;
					}
					
				.value {
					@include scientific-font;
					}
					
				}
			}
		}
		
	.pubmed-link {
		text-align: right;
		
		span {
			@include plain-button;
			}
		}
		
	.title {
		margin-bottom: 10px;
		font-size: 1.5em;
		line-height: 1.25em;
		}
		
	}
		
		
/* =THE CLOUD
 * **********************************/

.cloud {
	position: relative;
	margin: 0 auto;
	padding: 2em;
	height: 470px;
	@include transition(opacity, 0.5);
	box-sizing: content-box;
	
	text {
		cursor: pointer;
		-webkit-user-select: none;
		} /* text */
	
	.loading, .no-results {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		padding: 200px 0;
		width: 100%;
		height: 470px;
		color: $gray;
		font-size: 2.5em;
		text-align: center;
		}
	} /* .cloud */
	
.cloud-menu {
	display: none;
	position: absolute;
	width: 230px;
	z-index: 4;
	@include hovering-box;
	border-top: 5px solid $d-gray;
	
	.actions {
		margin: 0;
		list-style: none;
		
		li {
			padding: 7px;
			
			&:first-child {
				@include background-image(linear-gradient($l-gray 0, $white 15%));
				}
			
			&:hover {
				background-image: none;
				background-color: $accent;
				color: $white;
				border-color: $white;
				} /* li:hover */
				
			i {
				margin-right: 4px;
				}
				
			&.disabled {
				color: $gray;
				cursor: default;
				
				&:hover {
					background-color: $white;
					border-color: $l-gray;
					}
				}
			} /* li */
		} /* .actions */
		
	.entity-info {
		cursor: default;
		
		.cat {
			overflow: hidden;
			display: block;
			padding: 10px;
			text-align: right;
			border-bottom: 1px solid $l-gray;
			
			.epidem-category {
				@include label-font;
				} /* .epidem-category */
				
			.umls-group {
				@include umls-pill;
				} /* .umls-group */
			} /* .cat */
		
		.value {
			display: block;
			padding: 7px;
			border-bottom: 1px solid $l-gray;
			@include scientific-font;
			line-height: 1.2em;
			} /* .value */
		} /* .entity-info */
	} /* .cloud-menu */
	
.context-modal {
	padding: 0;
	
	h3 {
		padding: 1.5em;
		margin: 0;
		
		span {
			color: $accent;
			}
		}
		
	.loading {
		width: 100%;
		height: 200px;
		padding-top: 60px;
		text-align: center;
		font-size: 2.5em;
		color: $gray;
		}
		
	ul {
		list-style-type: none;
		margin: 0;
		
		li {
			padding: 0.8em;
			border-top: 1px solid $l-gray;
			
			&:nth-child(odd) {
				background-color: $ll-gray;
				}
			}
		}
	}
	
.controls {
	width: 100%; 

	&>* {
		position: relative;
		top: -44%;
		float: right;
		margin-left: 5px;
		}
		
	h3 {
		top: 0;
		float: left;
		font-weight: 300;
		}
		
	.hidden-menu {
		display: none;
		position: relative;
		
		&>span {
			display: block;
			@include plain-button;
			}
			
		ul {
			display: none;
			position: absolute;
			top: 32px;
			right: 0; 
			width: 300px;
			max-height: 330px;
			overflow-y: scroll;
			margin: 0;
			list-style-type: none;
			@include hovering-box;
			
			li {
				&.info {
					padding: 3px 5px;
					cursor: default;	
					}
					
				&.hidden-entity:hover{
					background-color: $ll-gray;
					}
					
				.epidem-category {
					display: block;
					float: left;
					padding: 9px 5px;
					width: 35%;
					@include label-font;
					}
				
				.value {
					display: block;
					float: right;
					padding: 7px;
					width: 65%;
					border-left: 1px solid $l-gray;
					@include scientific-font;
					font-size: 14px;
					}
				} /* li */
			} /* ul */
			
		&:hover {
			
			&>span {
				@include plain-button-hover;
				}
				
			ul {
				display: block;
				}
			} /* .hidden-menu:hover */
		} /* .hidden-menu */
		
	.loaded-info {
		margin-left: 20px;
		}
		
	.redraw {
		@include plain-button;
		}
	} /* .controls */
	
.legend {
	width: 100%;
	margin-bottom: 0; // The warning row will take care of this
	padding: 4px 1em;
	border-bottom: 1px solid $l-gray;
	text-align: center;
	background-color: #f9f9f9;
	
	& > span {
		position: relative;
		padding-right: 4em;
		@include label-font;
		cursor: pointer;
		
		&:nth-last-child {
			padding: 0;
			}
			
		i {
			color: $gray;
			margin-right: 5px;
			}
		
		// Category counts
		span {
			color: $gray;
			margin-left: 5px;
			}
			
		&#outcome { color: $color-outcome; }
		&#exposure { color: $color-exposure; }
		&#covariate { color: $color-covariate; }
		&#population { color: $color-population; }
		&#studydesign { color: $color-studydesign; }
		
		&.disabled {
			color: $gray !important;
			cursor: default;
			}
			
		&#effectsize { color: $color-effectsize; }
			
		} /* .legend > span */
	} /* .legend */
	
.warning {
	margin: 0;
	
	div {
		padding: 4px 2em;
		font-size: 11px;
		background-color: $accent;
		color: $white;
		}
		
	.close {
		margin-left: 5px;
		opacity: 0.7;
		@include transition(opacity, 0.3);
		cursor: pointer;
		
		&:hover {
			opacity: 1;
			}
		}
	}
		
/* STREAMGRAPHS 
 * **********************************/

svg > path {
	stroke: $light;
	stroke-width: 1px;
	@include transition(opacity, 0.3);
	}

.axis path {
	fill: none;
	stroke: $gray;
	shape-rendering: crispEdges;
	}
	
.axis text {
	fill: $gray;
	font-size: 11px;
	}
	
.datatip{
	display: none;
	position: absolute;
	padding: 5px;
	font-size: 10px;
	text-align: right;
	background-color: $white;
	border: 1px solid $l-gray;
	z-index: 4; // Needs to be below filters but above steam
	
	.year, .freq {
		font-weight: bold;
		}
	}
	
.state {
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
	font-size: 2.5em;
	color: $gray;
	text-align: center;
	}
	
.steamgraphs { position: relative; }

.steamgraph-container {
	position: relative;
	text-align: center;
	
	.tooltip {
		display: none;
		position: absolute;
		top: 30px;
		left: 30px;
		min-width: 200px;
		height: 2.5em;
		padding: 5px;
		text-align: center;
		border: 1px solid $gray;
		background-color: $white;
		border-radius: 2px;
		@include box-shadow(0px 0px 3px 1px rgba($l-gray, 0.3));
		z-index: 5;
		
		.cat {
			@include label-font;
			}
			
		.val {
			@include scientific-font;
			margin-left: 10px;
			}
		}
	}
	
.steam-view {
	.section-title {
		border-top: 1px solid $l-gray;
		
		h3 {
			float: left;
			}
		
		.reset,
		.toggle-baseline {
			position: relative;
			top: -44%;
			float: right;
			margin-left: 5px;
			@include plain-button;
			}
		}
	}
	
.vertical-indicator {
	display: block;
	position: absolute;
	top: 10px;
	bottom: 50px;
	left: 0px;
	width: 1px;
	height: 410px;
	background-color: $ll-gray;
	z-index: 4; // Needs to be below filters but above steam
	}
	
/* =WELCOME PAGE
 * **********************************/
header {
	width: 95%;
	margin: 0 auto;
	padding: 1.5em 1.5em 0 1.5em;
	
	a {
		display: block;
		float: left;
		padding: 5px 10px;
		font-size: 1.2em;
		color: $gray;
		
		&:hover {
			color: $accent;
			text-decoration: none;
			}
		}
	
	.logo {
		display: block;
		float: left;
		font-size: 1.55em;
		font-family: 'Carrois Gothic SC';
		color: $gray;
		
		span {
			margin: 0 5px;
			color: $l-gray;
			}
			
		img {
			width: 100px;
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
			opacity: 0.5;
			@include transition('all', 0.3);
			
			&:hover {
				filter: none;
				-webkit-filter: none;
				opacity: 1;
				}
			}
			
		}
		
	.navi {
		float: right;
		}
		
	}
	
.example-searches {
	position: relative;
	margin: 0;
	padding:3em 0;
	padding-bottom: 200px;
	border-top: 1px solid $l-gray;
	background-color: $white;
	
	h2 {
		margin-bottom: 1em;
		}
	
	.example-search {
		position: relative;
		float: left;
		width: 300px;
		height: 250px;
		margin-right: 3.5em;
		border: 1px solid $l-gray;
		border-radius: 3px;
		
		&:nth-last-child(1) {
			margin-right: 0;
			}
			
		.criteria {
			display: block;
			position: absolute;
			bottom: 0;
			width: 298px;
			height: 35px;
			padding: 10px;
			background-color: $dark-accent;
			color: $white;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			@include scientific-font;
			font-size: 15px;
			@include transition(background-color, 0.3);
			cursor: pointer;
				
			&:hover {
				background-color: $accent;
				text-decoration: none;
				}
			}
		}
		
	.watching-tv { 
		background: url('#{$img_path}/examples/example-search-watching-television.png') 0px 0px no-repeat; 
		background-size: 120%;
		}
	.ch-ob-met-syn { 
		background: url('#{$img_path}/examples/example-search-childhood-obesity-metabolic-syndrome.png') 0 -40px no-repeat; 
		background-size: 125%;
	  }
	.schizo { 
		background: url('#{$img_path}/examples/example-search-schizo.png') 0 0 no-repeat; 
		background-size: 100%;
		}
	}

.initial-search {
	text-align: center;
	font-size: 3em;
	
	button {
		margin-top: 1.5em;
		@include plain-button;
		@include transition(background-color, 0.3);
		padding: 10px;
		font-size: 0.5em;
		color: $white;
		background-color: $dark-accent;
		border: none;
		
		&:hover {
			padding: 10px;
			border: none;
			background-color: $accent;
			}
		}
	
	.epidem-categories {
		display: inline-block;
		position: relative;
		cursor: pointer;
		
		.dropdown-cats {
			@include dropdown-cats;
			top: 50px;
			left: 0;
			width: 100%;
			
			& > div {
				width: 90%;
				margin: 0 auto;
				margin-top: 4px;
				margin-bottom: 4px;
				text-transform: none;
				} /* .dropdown-cats > div */
			} /* .dropdown-cats */
			
		// This is for the welcome page to distinguish dropdownable
		.visible-cat span span {
			color: $light;
			}
		} /* .epidem-categories */
		
	i {
		color: $gray;
		}
		
	input {
		display: inline-block;
		width: 300px;
		min-width: 300px;
		padding: 0 $val-horizontal-padding 0 $val-horizontal-padding/2;
		border: none;
		outline: none;
		font: inherit;
		color: inherit;
		background: transparent;
		text-align: center;
		cursor: pointer;
		
		&::-webkit-input-placeholder { color: $light; }
		&:-moz-placeholder { color: $light; }
		&:-ms-input-placeholder { color: $light; }
		&:focus::-webkit-input-placeholder { color: transparent; }
		&:focus:-moz-placeholder { color: transparent; }
		&:focus:-ms-input-placeholder { color: transparent; }
		}
		
	.note {
		display: block;
		font-size: 0.5em;
		color: $gray;
		}
		
	}
	
	
/* =Help page
 * **********************************/
.guidelines, .about {
	padding: 2.5em 0 200px 0;
	margin-bottom: 0;
	border-top: 1px solid $l-gray;
	background-color: $white;

	h3 {
		font-weight: 700;
		}
	
	.faq {
		list-style-type: circle;
		color: $gray;
		
		a {
			color: $accent;
			&:hover {
				color: $gray;
				}
			}
			
		ul {
			list-style-type: disc;
			font-size: 0.8em;
			color: $l-gray;
			}
		}
	
	p, ul {
		@include readable-font;
		
		&.no-bullets {
			font-size: 1.2em;
			}
			
		span {
			}
		}
		
	.row {
		margin-bottom: 0;
		margin-top: 2.5em;
		}
	}

	
/* =Scrollbars
 * **********************************/

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
	}
	
::-webkit-scrollbar-track {
	border-radius: 3px;
	}
						
::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: $gray;
	}
														
