<div class="row">
	<div class="threequarter centered">
		<h1>About <span style="font-family: 'Carrois Gothic SC'">EDViC</span></h1>
	</div>
</div>

<div class="row about">
	<div class="threequarter centered">
		
		<div class="threequarter">
		<h2>Motivation</h2>
		<p>
		For scientists, the ever-growing amount of data available makes it increasingly difficult to maintain an overview of existing
		studies and research in their field. Having an up to date knowledge base and an overview of breakthroughs, discoveries, or
		simply current trends in the community, however, is essential to making a relevant contribution. Fortunately, the intimidating
		abundance of data that is often preventing scientists to evaluate the importance or relevance of specific pieces of information,
		when displayed in the right way, can actually turn the tables and reveal precisely the information necessary to gain a condensed
		and aggregated overview of the essentials in a certain topic.
		</p>
		<p>
		 <span style="font-family: 'Carrois Gothic SC'">EDViC</span>, which stands for Epidemiological Data Visualised in Clouds, aims to address this issue in the biomedical community. It is meant to be a comprehensive tool for medical
		students or graduates to intuitively aggregate, display and interact wth data about existing research in their required field
		or topic of interest. There are several existing tools available for just that – this project, however, will try to extract the most
		useful features and techniques from the available applications, while trying to learn from their mistakes and avoid characteristics
		that make existing tools difficult to use.
		</p>
		<p>
		The data – biomedical literature from PubMed in a structured form – is handled according to the specific requests of the
		user of the system, and only the relevant bits are retrieved. A typical scenario would be a person with a new idea for a research
		topic wishing to gain insight into what (and when) has already been done in the field related to the specific question they
		have in mind. The tool will display aggregated data from every piece of literature published that has connections to the user’s
		idea, and visualise that data in an interactive and meaningful way, allowing for further exploration and study of related topics.
		</p>
		
		<h2>Manifestation</h2>
		
		<p>
		<span style="font-family: 'Carrois Gothic SC'">EDViC</span> is built to qualify as a third year final project for the University of Manchester's School of Computer Science. The author's main goals are therefore to learn new technologies and conduct academic research (my main focus was on creating my first Backbone application). This may result in a lack of 
		all the necessary aspects to make the application entirely publicly usable; rather, this project is meant to be viewed as a proof of concept. 
		</p>
		
		<p>A comprehensive report written to accompany this application can be accessed <a href="{{ url_for('static', filename='report.pdf') }}">here</a>.</p>
		
		<p>
		All feedback and critique, especially technical, is welcomed.
		</p>
		
		<p>
		<b>Elise Hein</b></br>
		elisehein@gmail.com
		</p>
		
		</div>
	</div>
</div>
