<div class="articles-view">
	<div class="section-title row">
		<h3>Matching articles<span class="loaded-info"><span class="loaded"></span> / <span class="total"></span></span> </h3>
	</div>
	<div class="row load-more"></div>
	<ul id="articles-list"></ul>
</div> <!-- // .articles-view -->
	

<script type="text/template" id="article-listing-template">
	<i class="icon-angle-right"> </i><div class="title"><span class="date"><i class="icon-time"> </i></span>
</div></script>

<script type="text/template" id="article-listing-error-template">
	<i class="icon-angle-right"> </i><span class="error-msg">Failed to retrieve article <span class="article-id"></span><span class="try-again">Try again</span>
</script>

<script type="text/template" id="article-details-template">
		<div class="title"></div>
		<div class="section-heading open"><i class="icon-angle-down"> </i> Article details</div>
		<div class="section-content">
			
			<div class="row">
				<div class="threequarter">
					<div class="author"><i class="icon-user-md"> </i></div>
					<div class="date"><i class="icon-time"> </i></div>
				</div>
				
				<div class="quarter">
					<div class="pubmed-link"><span>View on PubMed</span></div>
				</div>
			</div>
			
			<div class="abstr"></div>
			<div class="journal"><span>Journal</span><span></span></div>
			<div class="issue"><span>Issue</span><span></span></div>
			<div class="pmid"><span>PMID</span><span></span></div>
		</div>
		<div class="section-heading"><i class="icon-angle-right"> </i> Study details </div>
		<div class="section-content">
			<div class="facts"> </div>
		</div>
	</div>
</script>

<script type="text/template" id="article-facts-template">
	<div class="label"></div><div class="entities"></div>
</script>
