	<div class="cloud-view">
		<div class="section-title row controls">
			<h3>Related terms <span class="loaded-info"><span class="loaded"></span> / <span class="total"></span></span></h3>
			<div class="redraw">Redraw cloud</div>
			<div class="hidden-menu">
				<span>Hidden terms<i class="icon-angle-down"> </i></span>
				<ul class="hidden-entities">
					<li class="info">Tip: click on term to unhide it</li>
				</ul>
			</div>
		</div> <!-- // .row.controls -->
		
		<div class="row legend">
			<span id="outcome" class="checked"><i class="icon-check"> </i>Outcome<span></span></span>
			<span id="exposure" class="checked"><i class="icon-check"> </i>Exposure<span></span></span>
			<span id="covariate" class="checked"><i class="icon-check"> </i>Covariate<span></span></span>
			<span id="population" class="checked"><i class="icon-check"> </i>Population<span></span></span>
			<span id="studydesign" class="checked"><i class="icon-check"> </i>Type of study<span></span></span>
			<span id="effectsize" class="checked"><i class="icon-check"> </i>Effect size<span></span></span>
		</div> <!-- // .row.legend -->
		
		<div class="row warning"></div>
		<div class="row cloud">
			<div class="loading"><i class="icon-spinner icon-spin"></i></div>
		</div>
	</div> <!-- // .cloud-view -->
	
	<script type="text/template" id="cloud-menu-template">
	<div class="entity-info">
		<div class="cat">
			<span class="epidem-category"></span>
			<span class="umls-group"></span>
		</div>
		<span class="value"></span>
	</div>
	<ul class="actions">
		<li class="filter-search">
			<i class="icon-filter"> </i>
			Add this as a filter
		</li>
		<li class="new-search">
			<i class="icon-search"> </i>
			Start a new search
		</li>
		<li class="hide-entity">
			<i class="icon-eye-close"> </i>
			Hide from the results
		</li>
		<li class="add-steam">
			<i class="icon-bar-chart"> </i>
			Compare trends
		</li>
		<li class="see-context">
			<i class="icon-book"> </i>
			See context
		</li>
		<li class="browse-external">
			<i class="icon-google-plus-sign"> </i>
			Browse external sources
		</li>
	</ul>
</script>

<script type="text/template" id="hidden-entity-template">
	<span class="epidem-category"></span><span class="value"></span>
</script>

<script type="text/template" id="see-context-template">
	<h3>Sentences containing <span></span></h3>
	<div class="loading"><i class="icon-spinner icon-spin"></i></div>
	<ul class="context">
	</ul>
</script>


