<div class="example-searches row">
	<div class="threequarter centered">
		<h2>Example searches</h2>
		
		<a href="{{ url_for('search_page') }}#filters?exposure=watching television" class="example-search watching-tv">
			<span class="criteria">
			watching television
			</span>
		</a>
		
		<a href="{{ url_for('search_page') }}#filters?exposure=childhood obesity&outcome=metabolic syndrome" class="example-search ch-ob-met-syn">
			<span class="criteria">
			childhood obesity, metabolic syndrome
			</span>
		</a>
		
		<a href="{{ url_for('search_page') }}#filters?outcome=schizophrenia" class="example-search schizo">
			<span class="criteria">
			schizophrenia
			</span>
		</a>
		
	</div>
	
	{% include "/includes/footer.html" %}
</div>
