<div id="filters-view">
	<ul id="filters-list"></ul>
	
	<div class="input-container">
		<div class="epidem-categories">
			<span class="visible-cat"><span>Keyword</span> <i class="icon-angle-up"></i></span>
			<div class="dropdown-cats">
				<div>
				<span id="keyword" class="search-domain chosen">Keyword</span>
				<span id="outcome" class="search-domain">Outcome</span>
				<span id="exposure" class="search-domain">Exposure</span>
				<span id="covariate" class="search-domain">Covariate</span>
				<span id="studydesign" class="search-domain">Study design</span>
				<span id="population" class="search-domain">Population</span>
				<span id="effectsize" class="search-domain">Effect size</span>
				</div>
			</div> <!-- // .dropdown-cats -->
		</div> <!-- // .epidem-categories -->
		<input type="text" id="search-input" placeholder="Refine your search..."/>
	</div> <!-- // .input-container -->
	
		<div class="options">
			<span id="new-search-option" class="option">New search</span> 
			<span id="filtered-search-option" class="option chosen"><i class="icon-ok"> </i> Filter this search</span>
		</div> <!-- // .options -->
		
</div>
	
<script type="text/template" id="single-filter-template">
	<span class="cat"></span><span class="val"></span>
</script>
<script type="text/template" id="filter-removal-template">
	<span class="remove-filter"><i class="icon-remove"></i></span>
</script>
<script type="text/template" id="ok-icon-template">
	<i class="icon-ok"> </i>
</script>

