<header class="row {{ header_class }}">
<span class="logo"><a href="{{ url_for('home') }}">EDViC</a></span>
		<div class="navi">
			<a href="{{ url_for('help_page') }}">Help</a>
			<a href="{{ url_for('about_page') }}">About</a>
	</div>
</header>
