<div class="initial-search row">
	<div class="threequarter centered">
			Search for epidemiological studies where </br>
		
			<span class="dynamic-width-helper" style="display: none"></span>
			<input type="text" id="search-input" placeholder="[your term here]"/>
			
			is
			
			<div class="epidem-categories">
				<span class="visible-cat"><span>an <span>outcome</span></span> <i class="icon-angle-down"></i></span>
				<div class="dropdown-cats">
					<div>
					<span id="outcome" class="search-domain chosen">an outcome</span>
					<span id="exposure" class="search-domain">an exposure</span>
					<span id="covariate" class="search-domain">a covariate</span>
					<span id="studydesign" class="search-domain">a type of study</span>
					<span id="population" class="search-domain">the population</span>
					<span id="effectsize" class="search-domain">the effect size</span>
					<span id="keyword" class="search-domain">just mentioned</span>
					</div>
				</div> <!-- // .dropdown-cats -->
			</div> <!-- // .epidem-categories -->
					
			<span class="note">Get condensed data about related concepts, matching articles and statistics.</span>
			<div><button>See results</button></div>
		
	</div> <!-- // .centered -->
</div> <!-- // .initial-search -->
