<div class="content">
	
<div class="row">
	
	<div class="quarter">
	<!-- Resulting articles list -->
	{% include "includes/article_list.html" %}
	</div>
		
	<div class="threequarter">
	<!-- Cloud area -->	
	{% include "includes/cloud.html" %}

	<!-- Steamgraphs -->
	{% include "includes/steam.html" %}
	
	</div>

</div>
</div><!-- // .content -->

