<div class="steam-view">
	<div class="section-title row">
		<h3>Trends in concept occurrence</h3>
		<div class="reset">Reset trends</div>
		<div class="toggle-baseline">Traditional view</div>
	</div> <!-- // .row -->
	
	<div class="steamgraphs"></div>
</div>

<script type="text/template" id="steamgraph-template">
	<span class="tooltip"><span class="cat"></span><span class="val"></span></span>
	<span class="steamgraph"></span>
	<span class="vertical-indicator"></span>
	<span class="datatip">Year: <span class="year"></span></br>Publications: <span class="freq"></span></span>
</script>

<script type="text/template" id="steamgraph-state-template">
	<span class="state"></span>
</script>
