/*

  Suggested ordering of properties
 
		Display & Flow
							display, visibility, float, clear
							
		Positioning
						position, top, right, bottom, left, z-index
						
		Dimensions
						width (min, max), height (min, max), overflow
						
		Margins, Padding, Borders, Outline
						margin (top, right, bottom, left), padding (top, right, bottom, left), 
						border (top, right, bottom, left), border-width, border-style, 
						border-color, outline, list-style
						
		Typographic Styles
						font, font-family, font-size, line-height, font-weight, text-align, 
						text-indent, text-transform, text-decoration, letter-spacing, word-spacing, 
						white-space, vertical-align, color
						
		Backgrounds
						background, background-color, background-image, background-repeat, 
						background-position
						
		Opacity, Cursors, Generated Content
						opacity, cursor, content, quotes

		
		Font weights:
			100: Ultra Light
			200: Thin
			300: Light
			400: Regular
			500: Semi Bold
			600: Bold
			700: Extra Bold
			800: Heavy
			900: Ultr</span>a Heavy
		
		
		Use hyphenation for selectors; use underscores for variables.	
                
*/
/* Colors */
/* Path to img directory; this is relative to the css file generated */
/* Typography */
/* Specific font cases */
/* =BASE 
 * ***********************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clear {
  *zoom: 1; }
  .clear:before, .clear:after {
    content: " ";
    display: table; }
  .clear:after {
    clear: both; }

/* Layout */
body {
  max-width: 100%;
  font: 300 12px/1.6 "Open Sans", Verdana, Helvetica, sans-serif;
  color: #3e4956;
  background-color: #f0f0f0; }

.content {
  width: 95%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 100px;
  background-color: white;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: 0 0 10px 0px #d1d1d1; }
  .content > .row {
    margin-bottom: 0; }
  .content .row > .threequarter {
    position: relative;
    height: 1300px;
    margin-left: 0;
    width: 77.39%; }
  .content .section-title {
    height: 65px;
    margin: 0;
    padding: 2em;
    border-bottom: 1px solid #d1d1d1; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2em;
  border-top: 1px solid #d1d1d1;
  background-color: white;
  text-align: center;
  font-size: 0.9em;
  color: #949494; }
  footer span {
    float: left; }
  footer a {
    float: right;
    color: #669acf;
    margin-left: 20px; }
    footer a:nth-last-child(1) {
      margin: 0; }

/* =RECURRING ELEMENTS
 * ***********************************/
a {
  text-decoration: none;
  color: #949494;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s; }
  a:hover {
    color: #005ab6;
    text-decoration: none; }

h1, h2, h3 {
  font-weight: 300; }

.highlight {
  padding: 2px 5px;
  color: white;
  border-radius: 3px;
  cursor: default; }
  .highlight.exposure {
    background-color: #d95b45; }
  .highlight.outcome {
    background-color: #43777a; }
  .highlight.covariate {
    background-color: #442432; }
  .highlight.population {
    background-color: #c02948; }
  .highlight.studydesign {
    background-color: #b38d19; }
  .highlight.effectsize {
    background-color: #807f87; }

.loaded-info {
  font-weight: normal;
  color: #949494; }
  .loaded-info .loaded,
  .loaded-info .total {
    font-weight: 700;
    color: #333333; }
  .loaded-info .loaded {
    font-size: 0.9em; }

/* .loaded-info */
ul.no-bullets {
  list-style-type: none; }
  ul.no-bullets li {
    position: relative;
    margin-bottom: 1em; }
  ul.no-bullets i {
    position: absolute;
    left: -1.55em;
    top: 0.25em; }
  ul.no-bullets .li-title {
    display: block;
    color: #005ab6; }

/* =FILTERING
 * ***********************************/
#filters-view {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #004183;
  color: white;
  z-index: 10;
  max-width: 100%;
  height: 45px;
  white-space: nowrap;
  /* .input-container */
  /* The list of existing filters */
  /* ul */ }
  #filters-view .input-container {
    display: inline-block;
    /* prevent collapsing */
    height: 45px;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    border-right: 1px solid white;
    background-color: #004183;
    background-color: #005ab6;
    /* .epidem-categories */
    /* input */ }
    #filters-view .input-container:hover {
      background-color: #005ab6; }
    #filters-view .input-container:hover {
      background-color: #004183; }
    #filters-view .input-container .epidem-categories {
      position: relative;
      float: left;
      min-width: 100px;
      height: 43px;
      /* Adjust for borders */
      padding: 18px 6px 18px 12px;
      font: 700 11px/1 "Open Sans", Verdana, Helvetica, sans-serif;
      text-transform: uppercase;
      cursor: pointer;
      /* .dropdown-cats */ }
      #filters-view .input-container .epidem-categories .dropdown-cats {
        display: none;
        position: absolute;
        z-index: 5;
        /* div */
        bottom: 43px;
        left: 0; }
        #filters-view .input-container .epidem-categories .dropdown-cats > div {
          box-sizing: content-box;
          width: 100%;
          color: #333333;
          background-color: white;
          font: 300 11px/1.5 "Open Sans";
          text-transform: capitalize;
          border: 1px solid #d1d1d1;
          border-radius: 2px;
          white-space: normal;
          /* Override filters container nowrap */
          box-shadow: 1px 1px 6px -2px #949494;
          z-index: 3;
          /* .search-domain */ }
          #filters-view .input-container .epidem-categories .dropdown-cats > div .search-domain {
            display: block;
            padding: 5px 12px;
            border-bottom: 1px solid #d1d1d1; }
            #filters-view .input-container .epidem-categories .dropdown-cats > div .search-domain:nth-last-child(1) {
              border: 0; }
            #filters-view .input-container .epidem-categories .dropdown-cats > div .search-domain:hover {
              background-color: #005ab6;
              color: white; }
        #filters-view .input-container .epidem-categories .dropdown-cats > div {
          margin-bottom: 4px; }
      #filters-view .input-container .epidem-categories .visible-cat {
        display: block;
        text-align: center; }
    #filters-view .input-container input {
      float: left;
      height: 45px;
      /* Adjust for borders */
      width: 250px;
      padding: 0 15px 0 7.5px;
      border: none;
      outline: none;
      font: 300 18px/1 "Gentium Book Basic";
      color: white;
      background: transparent;
      cursor: pointer; }
      #filters-view .input-container input::-webkit-input-placeholder {
        color: white;
        padding-top: 3px;
        /* Adjust to match actual input */ }
      #filters-view .input-container input:-moz-placeholder {
        color: white; }
      #filters-view .input-container input:-ms-input-placeholder {
        color: white; }
      #filters-view .input-container input:focus::-webkit-input-placeholder {
        color: transparent; }
      #filters-view .input-container input:focus:-moz-placeholder {
        color: transparent; }
      #filters-view .input-container input:focus:-ms-input-placeholder {
        color: transparent; }
  #filters-view .options {
    display: inline-block;
    position: relative;
    top: -9px;
    /* I don't know why this is right. Will probs break if changes needed */
    margin: 0 25px;
    font-size: 11px; }
    #filters-view .options .option {
      display: block;
      position: relative;
      cursor: pointer; }
      #filters-view .options .option.chosen {
        font-weight: bold; }
      #filters-view .options .option i {
        position: absolute;
        top: 0.25em;
        left: -1.3em; }
  #filters-view ul {
    margin: 0;
    padding: 0;
    list-style: none;
    /* li */ }
    #filters-view ul li {
      display: block;
      position: relative;
      float: left;
      height: 45px;
      transition: background-color 0.3s;
      -webkit-transition: background-color 0.3s;
      -moz-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;
      border-right: 1px solid white;
      background-color: #004183;
      cursor: default;
      /* .cat */
      /* .val */
      /* .inactive */ }
      #filters-view ul li:hover {
        background-color: #005ab6; }
      #filters-view ul li .cat {
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        *display: inline;
        *vertical-align: auto;
        padding: 18px 6px 18px 12px;
        text-transform: capitalize;
        font: 700 11px/1 "Open Sans", Verdana, Helvetica, sans-serif;
        text-transform: uppercase; }
      #filters-view ul li .val {
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        *display: inline;
        *vertical-align: auto;
        padding: 0 15px 0 7.5px;
        font: 300 18px/1 "Gentium Book Basic";
        /* .remove-filter */ }
        #filters-view ul li .val .remove-filter {
          position: relative;
          bottom: 0.1em;
          /* Adjust for font size change */
          font-size: 0.7em;
          opacity: 0.3;
          cursor: pointer; }
          #filters-view ul li .val .remove-filter:hover {
            transition: opacity 0.3s;
            -webkit-transition: opacity 0.3s;
            -moz-transition: opacity 0.3s;
            -o-transition: opacity 0.3s;
            opacity: 1; }
      #filters-view ul li.inactive {
        background-color: #001b36;
        color: #000e1c;
        border-color: #000e1c; }
        #filters-view ul li.inactive:nth-last-child(1) {
          border-color: white; }

/* #filters-view */
.top-bar {
  padding: 15px 20px;
  font-size: 1.5em;
  border-bottom: 1px solid #d1d1d1; }

.ui-autocomplete {
  position: fixed;
  background-color: white;
  max-height: 250px;
  overflow-y: auto;
  width: 256px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  box-shadow: 1px 1px 6px -2px #949494; }

.ui-menu-item {
  padding: 5px;
  border-bottom: 1px solid #f0f0f0; }
  .ui-menu-item a {
    color: #333333;
    transition: none 0s;
    -webkit-transition: none 0s;
    -moz-transition: none 0s;
    -o-transition: none 0s; }
    .ui-menu-item a.ui-state-focus, .ui-menu-item a.ui-state-active {
      background-color: #005ab6;
      color: white; }
  .ui-menu-item:nth-last-child(1) {
    border: none; }

/* =ARTICLES LIST
 * **********************************/
.articles-view {
  height: 1300px;
  border-right: 1px solid #d1d1d1;
  box-shadow: 0px 0px 8px -3px #949494;
  /* .section-title */
  /* #articles-list */ }
  .articles-view .section-title {
    position: relative;
    box-shadow: 0px 1px 7px -2px #949494;
    z-index: 2;
    /* .loaded-info */ }
    .articles-view .section-title .loaded-info {
      float: right;
      font-weight: normal;
      color: #949494; }
      .articles-view .section-title .loaded-info .loaded,
      .articles-view .section-title .loaded-info .total {
        font-weight: 700;
        color: #333333; }
      .articles-view .section-title .loaded-info .loaded {
        font-size: 0.9em; }
  .articles-view .load-more {
    margin: 0;
    padding: 7px;
    background-color: #005ab6;
    font: 300 11px/1.2 "Open Sans";
    font-weight: bold;
    color: white; }
  .articles-view #articles-list {
    list-style-type: none;
    height: 1235px;
    margin: 0;
    overflow-y: hidden;
    padding-bottom: 100px;
    background-image: url("../img/white_texture.png");
    /* :hover */
    /* li */ }
    .articles-view #articles-list:hover {
      overflow-y: scroll; }
    .articles-view #articles-list li {
      position: relative;
      padding: 7px;
      border-bottom: 1px solid #d1d1d1;
      background-color: white;
      cursor: pointer; }
      .articles-view #articles-list li:nth-child(even) {
        background-color: #f7f7f7; }
      .articles-view #articles-list li:hover {
        color: #005ab6; }
        .articles-view #articles-list li:hover .date {
          color: #949494; }
      .articles-view #articles-list li .date {
        display: block;
        font-size: 0.8em;
        text-align: right;
        color: #949494; }
        .articles-view #articles-list li .date i {
          position: static;
          margin-right: 4px; }
      .articles-view #articles-list li i {
        position: absolute;
        top: 10px; }
      .articles-view #articles-list li .title {
        margin-left: 17px; }
      .articles-view #articles-list li.article-listing-error .error-msg {
        display: block;
        margin-left: 17px;
        font-style: italic;
        color: #333333;
        cursor: default; }
      .articles-view #articles-list li.article-listing-error .try-again {
        display: block;
        color: #005ab6;
        cursor: pointer; }

/* .articles-view */
/* =ARTICLES MODAL
 * **********************************/
.reveal-modal {
  overflow: hidden;
  padding: 30px; }
  .reveal-modal .abstr {
    margin: 15px 0;
    text-align: justify; }
  .reveal-modal .section-heading {
    cursor: pointer;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: #949494;
    border-bottom: 1px solid #d1d1d1; }
    .reveal-modal .section-heading.open {
      cursor: default; }
    .reveal-modal .section-heading:hover {
      color: #005ab6; }
  .reveal-modal .section-content {
    padding: 5px 0 10px 0; }
  .reveal-modal .author,
  .reveal-modal .date {
    color: #949494; }
    .reveal-modal .author i,
    .reveal-modal .date i {
      margin-right: 5px; }
  .reveal-modal .journal span:first-child,
  .reveal-modal .issue span:first-child,
  .reveal-modal .pmid span:first-child {
    display: inline-block;
    padding: 2px 0px;
    width: 65px;
    font-weight: bold; }
  .reveal-modal .journal span:nth-child(2),
  .reveal-modal .issue span:nth-child(2),
  .reveal-modal .pmid span:nth-child(2) {
    margin-left: 10px; }
  .reveal-modal .facts {
    border: 1px solid #949494;
    border-radius: 2px; }
    .reveal-modal .facts .epidem-table-row {
      overflow: hidden;
      border-bottom: 1px solid #949494; }
      .reveal-modal .facts .epidem-table-row:nth-last-child(1) {
        border: none; }
    .reveal-modal .facts .label {
      display: block;
      float: left;
      width: 25%;
      padding: 10px;
      font: 700 11px/1 "Open Sans", Verdana, Helvetica, sans-serif;
      text-transform: uppercase; }
    .reveal-modal .facts .entities {
      display: block;
      float: right;
      width: 75%;
      border-left: 1px solid #949494; }
      .reveal-modal .facts .entities .entity {
        padding: 10px;
        border-bottom: 1px solid #949494; }
        .reveal-modal .facts .entities .entity:nth-last-child(1) {
          border: none; }
        .reveal-modal .facts .entities .entity .other {
          display: block;
          color: #949494; }
        .reveal-modal .facts .entities .entity .umls-group {
          margin-left: 5px;
          padding: 4px;
          background-color: #737373;
          font-weight: bold;
          color: white;
          border-radius: 2px; }
        .reveal-modal .facts .entities .entity .value {
          font: 300 18px/1 "Gentium Book Basic"; }
  .reveal-modal .pubmed-link {
    text-align: right; }
    .reveal-modal .pubmed-link span {
      padding: 5px 10px;
      border-radius: 3px;
      border: 1px solid #d1d1d1;
      color: #333333;
      transition: background-color 0.1s;
      -webkit-transition: background-color 0.1s;
      -moz-transition: background-color 0.1s;
      -o-transition: background-color 0.1s;
      cursor: pointer; }
      .reveal-modal .pubmed-link span i {
        margin-left: 4px; }
      .reveal-modal .pubmed-link span:hover {
        padding: 6px 11px;
        background-color: #005ab6;
        color: white;
        border: none;
        text-decoration: none; }
  .reveal-modal .title {
    margin-bottom: 10px;
    font-size: 1.5em;
    line-height: 1.25em; }

/* =THE CLOUD
 * **********************************/
.cloud {
  position: relative;
  margin: 0 auto;
  padding: 2em;
  height: 470px;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  box-sizing: content-box;
  /* text */ }
  .cloud text {
    cursor: pointer;
    -webkit-user-select: none; }
  .cloud .loading, .cloud .no-results {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 200px 0;
    width: 100%;
    height: 470px;
    color: #949494;
    font-size: 2.5em;
    text-align: center; }

/* .cloud */
.cloud-menu {
  display: none;
  position: absolute;
  width: 230px;
  z-index: 4;
  background-color: white;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px #949494;
  z-index: 4;
  border-top: 5px solid #737373;
  /* .actions */
  /* .entity-info */ }
  .cloud-menu li {
    overflow: hidden;
    border-bottom: 1px solid #d1d1d1;
    cursor: pointer; }
    .cloud-menu li:nth-last-child(1) {
      border: 0; }
  .cloud-menu .actions {
    margin: 0;
    list-style: none;
    /* li */ }
    .cloud-menu .actions li {
      padding: 7px;
      /* li:hover */ }
      .cloud-menu .actions li:first-child {
        background-image: -webkit-linear-gradient(#d1d1d1 0, white 15%);
        background-image: -moz-linear-gradient(#d1d1d1 0, white 15%);
        background-image: -ms-linear-gradient(#d1d1d1 0, white 15%);
        background-image: -o-linear-gradient(#d1d1d1 0, white 15%);
        background-image: linear-gradient(#d1d1d1 0, white 15%); }
      .cloud-menu .actions li:hover {
        background-image: none;
        background-color: #005ab6;
        color: white;
        border-color: white; }
      .cloud-menu .actions li i {
        margin-right: 4px; }
      .cloud-menu .actions li.disabled {
        color: #949494;
        cursor: default; }
        .cloud-menu .actions li.disabled:hover {
          background-color: white;
          border-color: #d1d1d1; }
  .cloud-menu .entity-info {
    cursor: default;
    /* .cat */
    /* .value */ }
    .cloud-menu .entity-info .cat {
      overflow: hidden;
      display: block;
      padding: 10px;
      text-align: right;
      border-bottom: 1px solid #d1d1d1;
      /* .epidem-category */
      /* .umls-group */ }
      .cloud-menu .entity-info .cat .epidem-category {
        font: 700 11px/1 "Open Sans", Verdana, Helvetica, sans-serif;
        text-transform: uppercase; }
      .cloud-menu .entity-info .cat .umls-group {
        margin-left: 5px;
        padding: 4px;
        background-color: #737373;
        font-weight: bold;
        color: white;
        border-radius: 2px; }
    .cloud-menu .entity-info .value {
      display: block;
      padding: 7px;
      border-bottom: 1px solid #d1d1d1;
      font: 300 18px/1 "Gentium Book Basic";
      line-height: 1.2em; }

/* .cloud-menu */
.context-modal {
  padding: 0; }
  .context-modal h3 {
    padding: 1.5em;
    margin: 0; }
    .context-modal h3 span {
      color: #005ab6; }
  .context-modal .loading {
    width: 100%;
    height: 200px;
    padding-top: 60px;
    text-align: center;
    font-size: 2.5em;
    color: #949494; }
  .context-modal ul {
    list-style-type: none;
    margin: 0; }
    .context-modal ul li {
      padding: 0.8em;
      border-top: 1px solid #d1d1d1; }
      .context-modal ul li:nth-child(odd) {
        background-color: #f0f0f0; }

.controls {
  width: 100%;
  /* .hidden-menu */ }
  .controls > * {
    position: relative;
    top: -44%;
    float: right;
    margin-left: 5px; }
  .controls h3 {
    top: 0;
    float: left;
    font-weight: 300; }
  .controls .hidden-menu {
    display: none;
    position: relative;
    /* ul */
    /* .hidden-menu:hover */ }
    .controls .hidden-menu > span {
      display: block;
      padding: 5px 10px;
      border-radius: 3px;
      border: 1px solid #d1d1d1;
      color: #333333;
      transition: background-color 0.1s;
      -webkit-transition: background-color 0.1s;
      -moz-transition: background-color 0.1s;
      -o-transition: background-color 0.1s;
      cursor: pointer; }
      .controls .hidden-menu > span i {
        margin-left: 4px; }
      .controls .hidden-menu > span:hover {
        padding: 6px 11px;
        background-color: #005ab6;
        color: white;
        border: none;
        text-decoration: none; }
    .controls .hidden-menu ul {
      display: none;
      position: absolute;
      top: 32px;
      right: 0;
      width: 300px;
      max-height: 330px;
      overflow-y: scroll;
      margin: 0;
      list-style-type: none;
      background-color: white;
      border: 1px solid #d1d1d1;
      border-radius: 3px;
      box-shadow: 0px 2px 4px 0px #949494;
      z-index: 4;
      /* li */ }
      .controls .hidden-menu ul li {
        overflow: hidden;
        border-bottom: 1px solid #d1d1d1;
        cursor: pointer; }
        .controls .hidden-menu ul li:nth-last-child(1) {
          border: 0; }
      .controls .hidden-menu ul li.info {
        padding: 3px 5px;
        cursor: default; }
      .controls .hidden-menu ul li.hidden-entity:hover {
        background-color: #f0f0f0; }
      .controls .hidden-menu ul li .epidem-category {
        display: block;
        float: left;
        padding: 9px 5px;
        width: 35%;
        font: 700 11px/1 "Open Sans", Verdana, Helvetica, sans-serif;
        text-transform: uppercase; }
      .controls .hidden-menu ul li .value {
        display: block;
        float: right;
        padding: 7px;
        width: 65%;
        border-left: 1px solid #d1d1d1;
        font: 300 18px/1 "Gentium Book Basic";
        font-size: 14px; }
    .controls .hidden-menu:hover > span {
      padding: 6px 11px;
      background-color: #005ab6;
      color: white;
      border: none;
      text-decoration: none; }
    .controls .hidden-menu:hover ul {
      display: block; }
  .controls .loaded-info {
    margin-left: 20px; }
  .controls .redraw {
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
    color: #333333;
    transition: background-color 0.1s;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    cursor: pointer; }
    .controls .redraw i {
      margin-left: 4px; }
    .controls .redraw:hover {
      padding: 6px 11px;
      background-color: #005ab6;
      color: white;
      border: none;
      text-decoration: none; }

/* .controls */
.legend {
  width: 100%;
  margin-bottom: 0;
  padding: 4px 1em;
  border-bottom: 1px solid #d1d1d1;
  text-align: center;
  background-color: #f9f9f9;
  /* .legend > span */ }
  .legend > span {
    position: relative;
    padding-right: 4em;
    font: 700 11px/1 "Open Sans", Verdana, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer; }
    .legend > span:nth-last-child {
      padding: 0; }
    .legend > span i {
      color: #949494;
      margin-right: 5px; }
    .legend > span span {
      color: #949494;
      margin-left: 5px; }
    .legend > span#outcome {
      color: #43777a; }
    .legend > span#exposure {
      color: #d95b45; }
    .legend > span#covariate {
      color: #442432; }
    .legend > span#population {
      color: #c02948; }
    .legend > span#studydesign {
      color: #b38d19; }
    .legend > span.disabled {
      color: #949494 !important;
      cursor: default; }
    .legend > span#effectsize {
      color: #807f87; }

/* .legend */
.warning {
  margin: 0; }
  .warning div {
    padding: 4px 2em;
    font-size: 11px;
    background-color: #005ab6;
    color: white; }
  .warning .close {
    margin-left: 5px;
    opacity: 0.7;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    cursor: pointer; }
    .warning .close:hover {
      opacity: 1; }

/* STREAMGRAPHS 
 * **********************************/
svg > path {
  stroke: #669acf;
  stroke-width: 1px;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s; }

.axis path {
  fill: none;
  stroke: #949494;
  shape-rendering: crispEdges; }

.axis text {
  fill: #949494;
  font-size: 11px; }

.datatip {
  display: none;
  position: absolute;
  padding: 5px;
  font-size: 10px;
  text-align: right;
  background-color: white;
  border: 1px solid #d1d1d1;
  z-index: 4; }
  .datatip .year, .datatip .freq {
    font-weight: bold; }

.state {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  font-size: 2.5em;
  color: #949494;
  text-align: center; }

.steamgraphs {
  position: relative; }

.steamgraph-container {
  position: relative;
  text-align: center; }
  .steamgraph-container .tooltip {
    display: none;
    position: absolute;
    top: 30px;
    left: 30px;
    min-width: 200px;
    height: 2.5em;
    padding: 5px;
    text-align: center;
    border: 1px solid #949494;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 0px 3px 1px rgba(209, 209, 209, 0.3);
    z-index: 5; }
    .steamgraph-container .tooltip .cat {
      font: 700 11px/1 "Open Sans", Verdana, Helvetica, sans-serif;
      text-transform: uppercase; }
    .steamgraph-container .tooltip .val {
      font: 300 18px/1 "Gentium Book Basic";
      margin-left: 10px; }

.steam-view .section-title {
  border-top: 1px solid #d1d1d1; }
  .steam-view .section-title h3 {
    float: left; }
  .steam-view .section-title .reset,
  .steam-view .section-title .toggle-baseline {
    position: relative;
    top: -44%;
    float: right;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
    color: #333333;
    transition: background-color 0.1s;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    cursor: pointer; }
    .steam-view .section-title .reset i,
    .steam-view .section-title .toggle-baseline i {
      margin-left: 4px; }
    .steam-view .section-title .reset:hover,
    .steam-view .section-title .toggle-baseline:hover {
      padding: 6px 11px;
      background-color: #005ab6;
      color: white;
      border: none;
      text-decoration: none; }

.vertical-indicator {
  display: block;
  position: absolute;
  top: 10px;
  bottom: 50px;
  left: 0px;
  width: 1px;
  height: 410px;
  background-color: #f0f0f0;
  z-index: 4; }

/* =WELCOME PAGE
 * **********************************/
header {
  width: 95%;
  margin: 0 auto;
  padding: 1.5em 1.5em 0 1.5em; }
  header a {
    display: block;
    float: left;
    padding: 5px 10px;
    font-size: 1.2em;
    color: #949494; }
    header a:hover {
      color: #005ab6;
      text-decoration: none; }
  header .logo {
    display: block;
    float: left;
    font-size: 1.55em;
    font-family: 'Carrois Gothic SC';
    color: #949494; }
    header .logo span {
      margin: 0 5px;
      color: #d1d1d1; }
    header .logo img {
      width: 100px;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      opacity: 0.5;
      transition: "all" 0.3s;
      -webkit-transition: "all" 0.3s;
      -moz-transition: "all" 0.3s;
      -o-transition: "all" 0.3s; }
      header .logo img:hover {
        filter: none;
        -webkit-filter: none;
        opacity: 1; }
  header .navi {
    float: right; }

.example-searches {
  position: relative;
  margin: 0;
  padding: 3em 0;
  padding-bottom: 200px;
  border-top: 1px solid #d1d1d1;
  background-color: white; }
  .example-searches h2 {
    margin-bottom: 1em; }
  .example-searches .example-search {
    position: relative;
    float: left;
    width: 300px;
    height: 250px;
    margin-right: 3.5em;
    border: 1px solid #d1d1d1;
    border-radius: 3px; }
    .example-searches .example-search:nth-last-child(1) {
      margin-right: 0; }
    .example-searches .example-search .criteria {
      display: block;
      position: absolute;
      bottom: 0;
      width: 298px;
      height: 35px;
      padding: 10px;
      background-color: #004183;
      color: white;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      font: 300 18px/1 "Gentium Book Basic";
      font-size: 15px;
      transition: background-color 0.3s;
      -webkit-transition: background-color 0.3s;
      -moz-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;
      cursor: pointer; }
      .example-searches .example-search .criteria:hover {
        background-color: #005ab6;
        text-decoration: none; }
  .example-searches .watching-tv {
    background: url("../img/examples/example-search-watching-television.png") 0px 0px no-repeat;
    background-size: 120%; }
  .example-searches .ch-ob-met-syn {
    background: url("../img/examples/example-search-childhood-obesity-metabolic-syndrome.png") 0 -40px no-repeat;
    background-size: 125%; }
  .example-searches .schizo {
    background: url("../img/examples/example-search-schizo.png") 0 0 no-repeat;
    background-size: 100%; }

.initial-search {
  text-align: center;
  font-size: 3em;
  /* .epidem-categories */ }
  .initial-search button {
    margin-top: 1.5em;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
    color: #333333;
    transition: background-color 0.1s;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    cursor: pointer;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    padding: 10px;
    font-size: 0.5em;
    color: white;
    background-color: #004183;
    border: none; }
    .initial-search button i {
      margin-left: 4px; }
    .initial-search button:hover {
      padding: 6px 11px;
      background-color: #005ab6;
      color: white;
      border: none;
      text-decoration: none; }
    .initial-search button:hover {
      padding: 10px;
      border: none;
      background-color: #005ab6; }
  .initial-search .epidem-categories {
    display: inline-block;
    position: relative;
    cursor: pointer;
    /* .dropdown-cats */ }
    .initial-search .epidem-categories .dropdown-cats {
      display: none;
      position: absolute;
      z-index: 5;
      /* div */
      top: 50px;
      left: 0;
      width: 100%;
      /* .dropdown-cats > div */ }
      .initial-search .epidem-categories .dropdown-cats > div {
        box-sizing: content-box;
        width: 100%;
        color: #333333;
        background-color: white;
        font: 300 11px/1.5 "Open Sans";
        text-transform: capitalize;
        border: 1px solid #d1d1d1;
        border-radius: 2px;
        white-space: normal;
        /* Override filters container nowrap */
        box-shadow: 1px 1px 6px -2px #949494;
        z-index: 3;
        /* .search-domain */ }
        .initial-search .epidem-categories .dropdown-cats > div .search-domain {
          display: block;
          padding: 5px 12px;
          border-bottom: 1px solid #d1d1d1; }
          .initial-search .epidem-categories .dropdown-cats > div .search-domain:nth-last-child(1) {
            border: 0; }
          .initial-search .epidem-categories .dropdown-cats > div .search-domain:hover {
            background-color: #005ab6;
            color: white; }
      .initial-search .epidem-categories .dropdown-cats > div {
        width: 90%;
        margin: 0 auto;
        margin-top: 4px;
        margin-bottom: 4px;
        text-transform: none; }
    .initial-search .epidem-categories .visible-cat span span {
      color: #669acf; }
  .initial-search i {
    color: #949494; }
  .initial-search input {
    display: inline-block;
    width: 300px;
    min-width: 300px;
    padding: 0 15px 0 7.5px;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: transparent;
    text-align: center;
    cursor: pointer; }
    .initial-search input::-webkit-input-placeholder {
      color: #669acf; }
    .initial-search input:-moz-placeholder {
      color: #669acf; }
    .initial-search input:-ms-input-placeholder {
      color: #669acf; }
    .initial-search input:focus::-webkit-input-placeholder {
      color: transparent; }
    .initial-search input:focus:-moz-placeholder {
      color: transparent; }
    .initial-search input:focus:-ms-input-placeholder {
      color: transparent; }
  .initial-search .note {
    display: block;
    font-size: 0.5em;
    color: #949494; }

/* =Help page
 * **********************************/
.guidelines, .about {
  padding: 2.5em 0 200px 0;
  margin-bottom: 0;
  border-top: 1px solid #d1d1d1;
  background-color: white; }
  .guidelines h3, .about h3 {
    font-weight: 700; }
  .guidelines .faq, .about .faq {
    list-style-type: circle;
    color: #949494; }
    .guidelines .faq a, .about .faq a {
      color: #005ab6; }
      .guidelines .faq a:hover, .about .faq a:hover {
        color: #949494; }
    .guidelines .faq ul, .about .faq ul {
      list-style-type: disc;
      font-size: 0.8em;
      color: #d1d1d1; }
  .guidelines p, .guidelines ul, .about p, .about ul {
    font: 300 1.4em/1.6 "Open Sans";
    color: #333333;
    text-align: justify; }
    .guidelines p.no-bullets, .guidelines ul.no-bullets, .about p.no-bullets, .about ul.no-bullets {
      font-size: 1.2em; }
  .guidelines .row, .about .row {
    margin-bottom: 0;
    margin-top: 2.5em; }

/* =Scrollbars
 * **********************************/
::-webkit-scrollbar {
  width: 3px;
  height: 3px; }

::-webkit-scrollbar-track {
  border-radius: 3px; }

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #949494; }
