<!doctype html>
<html lang="en">
	<head>
		<title>{{ page_title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		
		<!-- The styles -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/kube/kube.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/reveal.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/jquery-ui-1.10.0.custom.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
		
		<!-- The webfonts -->
		<link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
		
		<!-- The icon fonts -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
		
		<!-- The scripts -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/underscore1.4.6-min.js') }}" /></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/backbone/backbone0.9.10-min.js') }}" /></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/backbone/backbone.fetch-cache.js') }}" /></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/backbone/backbone.queryparams.js') }}" /></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-ui-1.10.0.custom.js') }}" /></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/URI.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery.expander.min.js') }}"></script>
		
	</head>
	<body>
		<div class="wrapper">
		{% block header %}{% endblock %}
		{% block content %}{% endblock %}
		</div>
		{% block footer %}{% endblock %}
	</body>
		{% block scripts %}{% endblock %}
</html>
