{% extends "pages/base.html" %}

{% block header %}{% include "includes/header.html" %}{% endblock %}
{% block content %}
	{% include "includes/filters.html" %}
	{% include "includes/search_results.html" %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/d3/d3.v3.min.js') }}" /></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/d3/d3.layout.cloud.js') }}" /></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery.reveal.js') }}" /></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/models.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/filters-view.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/articles-view.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/cloud-view.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/steam-view.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/router.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/init.js') }}"></script>
{% endblock %}

