{% extends "pages/base.html" %}

{% block header %}{% include "includes/header.html" %}{% endblock %}
{% block content %}
	{% include "includes/initial_search.html" %}
	{% include "includes/example_searches.html" %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/models.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/init-welcome.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery.roughdraft.0.1.3.min.js') }}"></script>

<script type="text/javascript">
	$(window).roughDraft();
</script>
{% endblock %}


